# Dependencies
node_modules
node_modules*/
.pnpm-store
.yarn
.bun
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

node_modules
coverage
.nyc_output

# build intermediates
*.tsbuildinfo

# artifacts
bundle.*
**/dist
*/**/LICENSE
**/*.tgz
**/lib/**/*.d.ts

# system and editor files
.DS_Store
.vscode
