<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">
    <link rel="icon" type="image/x-icon" href="<%= require('./images/favicon.ico') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= require('./images/favicon-16x16.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= require('./images/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="64x64" href="<%= require('./images/favicon-64x64.png') %>">
</head>
<body>
    <div id="root"></div>
</body>
</html>
